:root {
  --color-dark: #1F2022;
  --color-light: #EEEEEE;
  --color-accent: #00ADB5;

  --base-font-family: "Poppins", sans-serif;

  --border-radius-sm: 3px;
  --border-radius-md: 5px;

  --container-width: 1352px;
  --container-padding-x: 80px;
}
